<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>The First Choice</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <!-- Photo by <a href="https://unsplash.com/@rgaleria?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ricardo Gomez Angel</a> on <a href="https://unsplash.com/s/photos/altar?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <img
      src="/images/ricardo-gomez-angel--TtuJk4oLtM-unsplash.jpg"
      alt="An altar bearing powerful artifacts"
    />
    <div class="text-container">
      <h2>You encounter a chamber with a marble altar.</h2>
      <p>
        Emerging from the dark tunnel into the imposing room, you wonder what
        dark deeds were performed in this place. Then you notice that the altar
        is not empty; three items wait for you upon it. Drawing closer, you read
        the altar's inscription: it seems one of these artifacts may be yours,
        but once you make your selection, the other two will fade from this
        world.
      </p>
      <p>Choose wisely.</p>
      <p>
        <a href="potion-drink">The Potion of Mysteries (drink it)</a><br />
        <a href="potion-keep"
          >The Potion of Mysteries (hold onto it for later)</a
        ><br />
        <a href="mirror">The Mirror of Insight</a><br />
        <a href="blades">The Roller Blades of Celerity</a><br />
      </p>
    </div>
    <script>
      window.onload = sessionStorage.setItem('escapeTimerStart', Date.now());
    </script>
  </body>
</html>
