<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>To the Death!</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <div class="text-container">
      <h2>This is where the combat happens</h2>
      <% if (artifact === 'blades' && weapon === 'bow') { %>
      <p>
        By the way...really? You're going to try to aim a bow while zipping
        around on roller blades? Well...good luck with that...
      </p>
      <% } %>
    </div>
    <div>
      <button id="combatBtn">Engage!</button>
    </div>
    <div id="combatResults"></div>
    <script>
      const combatBtn = document.getElementById('combatBtn');
      combatBtn.addEventListener('click', advanceCombat);

      const combatResults = document.getElementById('combatResults');

      const artifact = '<%= artifact %>';
      const guardian = '<%= guardian %>';
      const weapon = '<%= weapon %>';
      const direction = '<%= direction %>'; // Probably don't need
      const opponent = '<%= opponent %>';

      const modifiers = {
        artifacts: {
          'potion-keep': 0,
          mirror: 0,
          blades: 1,
        },
        guardians: {
          unicorn: 2,
          phoenix: 1,
          hellhound: 3,
        },
        weapons: {
          sword: 3,
          bow: 2,
          staff: 1,
        },
        opponents: {
          knight: {
            health: 1,
            strength: 1,
          },
          wolves: {
            health: 2,
            strength: 2,
          },
          ghost: {
            health: 3,
            strength: 2,
          },
          snakes: {
            health: 1,
            strength: 1,
          },
          golem: {
            health: 3,
            strength: 1,
          },
          wizard: {
            health: 1,
            strength: 2,
          },
          'sea-serpent': {
            health: 3,
            strength: 3,
          },
          sphinx: {
            health: 1,
            strength: 3,
          },
          wereshark: {
            health: 2,
            strength: 3,
          },
        },
      };

      const adventurer = {
        health: 10,
        strength: 4,
      };

      const enemy = {
        health: 8,
        strength: 2,
      };

      enemy.health += modifiers.opponents[opponent].health;
      enemy.strength += modifiers.opponents[opponent].strength;

      adventurer.health += modifiers.guardians[guardian];
      adventurer.strength +=
        modifiers.artifacts[artifact] +
        modifiers.guardians[guardian] +
        modifiers.weapons[weapon];

      if (artifact === 'blades' && weapon === 'bow') {
        adventurer.strength -= 2;
      }

      let round = 1;

      function advanceCombat() {
        const combatModifier = Math.floor(Math.random() * 3) - 1;
        let newNode = document.createElement('p');
        switch (combatModifier) {
          case 1:
            enemy.health -= Math.floor(adventurer.strength / 2);
            newNode = document.createElement('p');
            newNode.innerText = `Round ${round}...FIGHT!\nYou see an opening and make a successful attack!\nAdventurer's health: ${adventurer.health}\nOpponent's health: ${enemy.health}`;
            combatResults.appendChild(newNode);
            round++;
            break;
          case 0:
            newNode = document.createElement('p');
            newNode.innerText = `Round ${round}...FIGHT!\nYou both evade each other's attacks!\nAdventurer's health: ${adventurer.health}\nOpponent's health: ${enemy.health}`;
            combatResults.appendChild(newNode);
            round++;
            break;
          case -1:
            adventurer.health -= Math.floor(enemy.strength / 2);
            newNode = document.createElement('p');
            newNode.innerText = `Round ${round}...FIGHT!\nYou try to fend off the enemy's attack but sustain some damage!\nAdventurer's health: ${adventurer.health}\nOpponent's health: ${enemy.health}`;
            combatResults.appendChild(newNode);
            round++;
            break;
          default:
            enemy.health -= 1;
            adventurer.health -= 1;
            console.log('You should never see this message');
            console.log("Adventurer's health: ", adventurer.health);
            console.log("Opponent's health: ", enemy.health);
            break;
        }
        if (adventurer.health <= 0) {
          window.location.href = '/death';
        } else if (enemy.health <= 0) {
          window.location.href = '/survival';
        }
      }
    </script>
  </body>
</html>
