<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>Defeat!</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <div class="text-container">
      <h2>This means you lost.</h2>
      <% if (cause === 'poison') { %>
      <p>
        The "potion," to no one's surprise except yours apparently, was in fact
        poison!
      </p>
      <p>
        Seriously, why would you drink an unlabeled bottle you found in a
        dungeon?
      </p>
      <p>May your next life be blessed with keener wits...</p>
      <% } else if (cause === 'bad-dog') { %>
      <p>
        Your awe at this clearly powerful artifact is short-lived. As you wave
        the staff around in an attempt to be cool, your three-headed companion
        follows his canine instincts and bounds toward the stick with all three
        jaws slobbering and snapping. They barely notice the crunchy adventurer
        with the misfortune to be the one holding it!
      </p>
      <p>Bad dog(s)! Oh well...you had a good run.</p>
      <% } else if (cause === 'unbreakable') { %>
      <p>
        The unicorn, a noble and pure creature, recognizes the minion of evil
        before you, and it charges off, deadly horn glinting with ethereal
        light.
      </p>
      <p>
        But to your dismay (and probably the unicorn's, too) the radiant steed's
        horn shatters with its first strike against the metallic giant. You
        spend the final few moments of your existence watching in horror as the
        golem makes short work of the beast and then turns to face you...
      </p>
      <p>Ouch! Better luck in the next life?</p>
      <% } else if (cause === 'extinguished') { %>
      <p>
        You know how this plays out. Smirking confidently, you call upon the
        fiery bird circling overhead. 'Phoenixes and serpents are mortal
        enemies,' you recall from the legends. 'And phoenixes are immortal!'
      </p>
      <p>
        Embarassingly for you, though, you were unaware that these ocean
        dwellers can summon the savage storms of the ocean. With a thunderous
        roar the water demon raises hurricane waves and douses the noble bird's
        flames. The bedraggled bird starts to revive, but it is promptly
        swallowed. It will continue its cycle of death and rebirth in the belly
        of the beast. But you have already been called to your watery grave.
      </p>
      <p>Ouch! Better luck in the next life?</p>
    </div>
    <% } %>
    <script>
      window.onload = sessionStorage.removeItem('escapeTimerStart');
    </script>
  </body>
</html>
