<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>The Fourth Choice</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <!-- Image by <a href="https://pixabay.com/users/publicdomainpictures-14/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2264">PublicDomainPictures</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2264">Pixabay</a> -->
    <!-- The maze image could be very large to dominate the page a bit more -->
    <img
      class="img-wide"
      src="/images/maze-ge7210b1f5_640.jpg"
      alt="The Maze"
    />
    <div class="text-container">
      <h2>Your trials have only just begun.</h2>
      <p>
        You gasp at what awaits you in the next area. This prison, until now a
        simple set of rooms linked by tunnels, opens up into a gargantuan
        cavern. Beneath you stretches a dizzying display of labyrinthian
        corridors and angular twists and turns, many of them leading to dead
        ends. You are unable to see the farthest extent of these passages, but
        you feel certain that many traps are prepared for you within. Descending
        from your vantage point to the entrance to the maze, you steel yourself
        for what is to come. You step into the maze.
      </p>
      <p>...</p>
      <p>
        It seems you have been "navigating" this hellish prison for hours, and
        even if you wanted to retreat, at this point you would have no idea how
        to. You have survived this long, though. You have come far indeed. You
        have evaded no fewer than three deadly traps in this maze, relying on
        your wits and the strength of your powerful animal companion. You
        <em>will</em> survive this, you silently vow. You focus your thoughts as
        you approach a branching-off in the path ahead. Where will you tread?
      </p>
      <p>
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/left">The Left Path</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/forward"
          >The Forward Path</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/right"
          >The Right Path</a
        ><br />
      </p>
      <% if (guardian === 'phoenix') { %>
      <p>
        Soaring upward above the daunting and confusing angular maze, your
        phoenix companion surveys the surroundings with its keen eyes. Returning
        to your side, it communicates that every path holds the possibility of
        victory or defeat; however, the forward path has a greater chance of
        victory, and the right path has a greater chance of death.
      </p>
      <% } if (artifact === 'mirror') { %>
      <p>
        Suddenly an idea strikes you. You retrieve the mirror you acquired
        earlier and hold it up, thinking it might provide some mystical insight.
        A hidden doorway, perhaps? A wall that's only an illusion?
      </p>
      <p>
        But there is nothing. And now you feel foolish for scrutinizing the
        walls with a looking-glass. Disheartened, you cast the mirror on the
        ground...where a cleverly concealed trapdoor waits judgmentally for you
        to notice it.
      </p>
      <p>
        Do you choose to
        <a href="/secret-trapdoor">venture down the trapdoor</a>?
      </p>
    </div>
    <% } %>
    <script>
      window.onload = function () {
        const escapeTimerStart = Date.parse(
          sessionStorage.getItem('escapeTimerStart')
        );
        if (Date.now() - escapeTimerStart > 300000) {
          window.location.href = 'too-long';
        }
      };
    </script>
  </body>
</html>
