<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>The Second Choice</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <!-- Photo by <a href="https://unsplash.com/@yuradesign?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Yura Timoshenko</a> on <a href="https://unsplash.com/s/photos/unicorn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/whendeavor-23973043/">WHENDEAVOR</a> on <a href="https://pixabay.com/illustrations/kerberos-hell-hellhound-creature-6732463/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/gdj-1086657/">GDJ</a> on <a href="https://pixabay.com/vectors/phoenix-bird-legendary-mythical-1301887/">Pixabay</a> -->
    <div class="img-tile-container">
      <img
        class="img-tile"
        src="/images/yura-timoshenko-ynbMXmcToRs-unsplash.jpg"
        alt="The Unicorn"
      />
      <img
        class="img-tile"
        src="/images/phoenix-ga0c4bd7b4_1920.jpg"
        alt="The Phoenix"
      />
      <img
        class="img-tile"
        src="/images/kerberos-g3f54f715e_1920.jpg"
        alt="The Hellhound"
      />
    </div>
    <div class="text-container">
      <h2>
        Perhaps you will survive this ordeal after all.
      </h2>
      <% let chosenArtifact;
      switch (artifact) {
        case 'potion-keep':
          chosenArtifact = 'flask of swirling dark liquid';
          break;
        case 'mirror':
          chosenArtifact = 'finely-wrought silver looking-glass';
          break;
        case 'blades':
          chosenArtifact = 'mysterious wheeled boots with crudely-drawn wings on the side';
          break;
        default:
          chosenArtifact = 'artifact of your choosing';
          break;
      } %>
      <p>True to the inscription's promise, once you pick up the <%= chosenArtifact %>, the remaining artifacts fade before your very eyes, as if they were composed of nothing more than smoke. It's time to move on. As before, you have only one path open to you: a doorway in the far side of the chamber. You press on, anxious to resume your escape.</p>
      <p>The next room takes your breath away. A gallery of sculptures, carvings, and mosaics depicting creatures both mundane and fantastical. You wonder at their meaning and at the artists who toiled to fashion so many lifelike renditions--and for what purpose? You come to a halt in front of a row of three such panels. Set apart from the others, in the exact center of the room, the beasts depicted here are larger than the others by double at least. You almost feel...as though they were expecting you, somehow.</p>
      <p>As your eyes linger on the details of these artworks, unfamiliar thoughts begin to form in your mind; suddenly a voice, not your own, speaks without words:</p>
      <blockquote>Abandoned here and left to perish, your time has almost run out. But now, in your hour of need, you are granted an ally, a loyal companion to aid you in your struggle to survive. Which among these creatures of legend do you entrust your life to?</blockquote>
      <p>Quite a few words to simply say, "Pick one," you think to yourself. But your choice is clear:</p>
      <p>
        <a href="/<%=artifact%>/unicorn">The Unicorn</a><br />
        <a href="/<%=artifact%>/phoenix">The Phoenix</a><br />
        <a href="/<%=artifact%>/hellhound">The Hellhound</a><br />
      </p>
    </div>
    <script>
      window.onload = function () {
        const escapeTimerStart = Date.parse(
          sessionStorage.getItem('escapeTimerStart')
        );
        if (Date.now() - escapeTimerStart > 300000) {
          window.location.href = 'too-long';
        }
      };
    </script>
  </body>
</html>
