<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>The Fifth Choice</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/yuri_b-2216431/">Yuri_B</a> on <a href="https://pixabay.com/photos/knight-middle-ages-armor-crusader-3002031/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/tenebriscilva-3547927/">TenebrisCilva</a> on <a href="https://pixabay.com/illustrations/moon-dark-wolves-moonlight-animal-4908100/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/darksouls1-2189876/">darksouls1</a> on <a href="https://pixabay.com/photos/haunted-house-house-haunted-2900957/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/ayoubzinelaarab-3283294/">ayoubeZineLaarab</a> on <a href="https://pixabay.com/photos/snake-head-savage-design-dead-5405862/">Pixabay</a> -->
    <!-- Photo by <a href="https://www.freeimages.com/photographer/gulden-45107">gulden</a> on <a href="https://www.freeimages.com/photo/knight-1309773">FreeImages</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/sammy-sander-10634669/">Sammy-Sander</a> on <a href="https://pixabay.com/photos/mysterious-fiction-vampire-wizard-5794921/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/natrix66-15252028/">Natrix66</a> on <a href="https://pixabay.com/illustrations/nessi-sea-serpent-watercolor-hole-6030872/">Pixabay</a> -->
    <!-- Photo by <a href="https://www.deviantart.com/angevere">Angevere</a> on <a href="https://www.deviantart.com/angevere/art/Sphinx-714559954">DeviantArt</a>  -->
    <!-- Photo by <a href="">Michael Jaecks</a> on <a href="https://warriorsofmyth.fandom.com/wiki/Wereshark?file=Shark_by_michaeljaecks-d63fojr.jpg">Warriors of Myth Wiki</a> -->
    <div class="img-tile-container">
      <% if (direction === 'left') { %>
      <img
        class="img-tile"
        src="/images/knight-g699a4086d_1920.jpg"
        alt="The Knight"
      />
      <img
        class="img-tile"
        src="/images/moon-g697c140ee_1920.jpg"
        alt="The Wolves"
      />
      <img
        class="img-tile"
        src="/images/haunted-house-ga9c6e2a2f_1920.jpg"
        alt="The Ghost"
      />
      <% } else if (direction === 'forward') { %>
      <img
        class="img-tile"
        src="/images/snake-g6ec0006a1_1920.jpg"
        alt="The Snakes"
      />
      <img class="img-tile" src="/images/knight-1309773.jpg" alt="The Golem" />
      <img
        class="img-tile"
        src="/images/mysterious-g834644a2e_1920.jpg"
        alt="The Wizard"
      />
      <% } else if (direction === 'right') { %>
      <img
        class="img-tile"
        src="/images/nessi-g4db04965e_1920.jpg"
        alt="The Sea Serpent"
      />
      <img
        class="img-tile"
        src="/images/sphinx_by_angevere_dbtfhzm-fullview.jpg"
        alt="The Sphinx"
      />
      <img
        class="img-tile"
        src="/images/Shark_by_michaeljaecks-d63fojr.jpg"
        alt="The Wereshark"
      />
      <% } %>
    </div>
    <div class="text-container">
      <h2>A new challenger approaches!</h2>
      <p>
        You see that the corridor opens into a wider area up ahead. You prepare
        yourself for yet another challenge. And no sooner have you emerged into
        the arena than a wall rumbles up out of the ground behind you, sealing
        off your retreat. But of course.
      </p>
      <% if (direction === 'left') { %>
      <p>
        On the other side of this arena, you can see three separate paths. All
        have daylight shining at the end, but all are guarded as well. In one
        path, a knight in jet black armor stares you down, wielding an obsidian
        sword drenched in the blood of previous would-be survivors. In the next
        path, a wider area allows its denizens to pace back and forth as they
        snarl at you with evil eyes: wolves, a pack of them. And down the final
        path, an unnatural mist rises from the ground and coalesces into a
        skeletal figure. This foe is one of the dreaded undead; your heart skips
        a beat as you wonder, "How can you kill what is no longer alive?"
      </p>
      <p>
        You must choose carefully. This final decision will determine your fate.
      </p>
      <p>
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/knight"
          >The Black Knight</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/wolves"
          >The Bloodthirsty Wolves</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/ghost"
          >The Cursed Spirit</a
        >
      </p>
      <% } else if (direction === 'forward') { %>
      <p>
        On the other side of this arena, you can see three separate paths. All
        have daylight shining at the end, but all are guarded as well. In one
        path, the bone-strewn floor writhes with more serpents than you can
        count, each one bearing fangs gleaming with venom. In the next path, a
        colossal figure looms, its metallic form glinting and its soulless eyes
        staring: a golem, forged of iron. And down the final path, smiling at
        you tauntingly, a man in black robes. This foe, you can sense, wields
        magic of the vilest kind: a sorcerer of the dark arts.
      </p>
      <p>
        You must choose carefully. This final decision will determine your fate.
      </p>
      <p>
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/snakes"
          >The Swarm of Snakes</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/golem"
          >The Iron Golem</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/wizard"
          >The Dark Wizard</a
        >
      </p>
      <% } else if (direction === 'right') { %>
      <p>
        A single sandy path crosses this arena, and on either side of it a dark
        pool of water, whose unfathomable depths hold dangers unknown. Beyond
        the path you see daylight shining, but the way forward is guarded. In
        the path ahead strides an enormous lion with the face of a woman: a
        sphinx of legend. To the left, the waters ripple as a reptilian form
        glides with ease, displaying a huge serpentine body. And cutting through
        the waters on the right you see a menacing fin moving with unnatural
        speed. As it approaches the shore, to your surprise it rises up and is
        revealed to be attached to a hulking humanoid figure. This will not be
        easy.
      </p>
      <p>
        You must choose carefully. This final decision will determine your fate.
      </p>
      <p>
        <a
          href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/sea-serpent"
          >The Sea Serpent</a
        ><br />
        <a href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/sphinx"
          >The Enigmatic Sphinx</a
        ><br />
        <a
          href="/<%=artifact%>/<%=guardian%>/<%=weapon%>/<%=direction%>/wereshark"
          >The...Wereshark?</a
        >
      </p>
    </div>
    <% } %>
    <script>
      window.onload = sessionStorage.removeItem('escapeTimerStart');
    </script>
  </body>
</html>
