<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>Choose Your (Talent)Path</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <!-- Photo by <a href="https://unsplash.com/@agentj?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Agent J</a> on <a href="https://unsplash.com/s/photos/dungeon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <h1>The Adventure Begins...</h1>
    <img
      src="/images/agent-j-dO1i_fWbbcw-unsplash.jpg"
      alt="Inside a dungeon"
    />
    <div class="text-container">
      <h2><%= my_user %> wakes in an unfamiliar and sinister place.</h2>
      <p>
        A small shaft of light above illuminates the cold stone walls
        surrounding you. The wall ahead of you, however, has an opening that
        leads to a tunnel. You shiver as a sense of dread overtakes you. You
        don't know how you got here, but this is the only path open to you now.
      </p>
      <p><a href="begin">Proceed</a>.</p>
    </div>
  </body>
</html>
