<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>Through the Gauntlet</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <div class="text-container">
      <h2>This page is seen when you have fought and survived.</h2>
    </div>
    <!-- Include the opponent you bested? -->
  </body>
</html>
