<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>Victory!</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <div class="text-container">
      <h2>You have chosen wisely!</h2>
      <!-- Add case for trapdoor -->
      <% switch (cause) { case 'potion': %>
      <p>
        You used the corrosive "potion" to dissolve the sturdy behemoth,
        rendering it little more than a pile of bubbling metallic goo. Advance
        to the exit!
      </p>
      <% break; case 'undead': %>
      <p>
        You remembered that unicorns are pure creatures; your ally is the
        perfect champion against the undead minion. One kebab'd ghoul later,
        you're home free. Advance to the exit!
      </p>
      <% break; case 'canine': %>
      <p>
        The savage baying of the hounds ceases almost immediately. With
        deliberate and weighty pawsteps, the Hellhound moves forward to face
        them. All trace of defiance has fled the vicious beasts; in the presence
        of this undisputed alpha canine, they cower meekly, cringing away and
        allowing you to pass.
      </p>
      <p>Good boy(s)! Advance to the exit!</p>
      <% break; case 'sic-em': %>
      <p>
        The Sphinx, famed for its challenging and "that sounds like kind of a
        stretch" riddles, has a reputation. However, this particular specimen,
        as it happens, cares nothing for riddles, and leaps toward you almost
        immediately, with feline grace and cruel glee.
      </p>
      <p>
        Unfortunately for the Sphinx, however, it is--when you think about
        it--little more than a giant cat, and your ally is a three-headed dog.
        The fight is over almost at once, and the Hellhound enjoys its meal,
        wagging its tail in fond farewell as you pass by.
      </p>
      <p>Good boy(s)! Advance to the exit!</p>
      <% break; case 'trade': %>
      <p>
        The Dark Wizard is a fearsome fireball-flinging foe; beyond that,
        however, he is also an enthusiastic collector of staves. Noticing your
        magical staff, his mystical malice melts into gluttonous greed, and he
        begs you to part with the artifact; he swears a magical oath that he
        will prevent him from attacking you if you agree to the exchange.
      </p>
      <p>It's a shrewd bargain you've managed to make. Advance to the exit!</p>
    </div>
    <% break; default: %>
    <br />
    <% } %>
    <script>
      window.onload = sessionStorage.removeItem('escapeTimerStart');
    </script>
  </body>
</html>
