<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dashley"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/maya"
      type="text/css"
    />
    <title>The Third Choice</title>
  </head>
  <body>
    <!-- Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/s/photos/parchment?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/b0red-4473488/">b0red</a> on <a href="https://pixabay.com/vectors/banner-ribbon-scroll-ribbon-banner-3284786/">Pixabay</a> -->
    <!-- Photo by <a href="https://pixabay.com/users/hisloveneverfails-6598585/">HisLoveNeverFails</a> on <a href="https://pixabay.com/photos/sword-epic-fantasy-celtic-2993521/"></a> -->
    <!-- Photo by <a href="https://pixabay.com/users/11333328-11333328/">11333328</a> on <a href="https://pixabay.com/photos/arrows-quiver-archery-bow-4082046/"></a> -->
    <!-- Photo by <a href="https://pixabay.com/users/jamesdemers-3416/">JamesDeMers</a> on <a href="https://pixabay.com/photos/cane-walking-stick-gold-cap-stick-54997/"></a> -->
    <div class="img-tile-container">
      <img
        class="img-tile"
        src="/images/sword-g3a62cb8f3_1920.jpg"
        alt="The Sword"
      />
      <img
        class="img-tile"
        src="/images/arrows-gb73ea922d_1920.jpg"
        alt="The Bow"
      />
      <img
        class="img-tile"
        src="/images/cane-gb3fd6acde_1280.jpg"
        alt="The Staff"
      />
    </div>
    <div class="text-container">
      <h2>Prepare yourself, and take up arms.</h2>
      <% if (guardian === 'unicorn') { %>
      <p>
        You have barely willed your decision when the mighty unicorn appears
        before you in a blaze of light, snorting and prancing restlessly. The
        sculpture, detailed though it is, pales in comparison to the noble beast
        now gazing at you with startlingly intelligent eyes. You can actually
        feel the benevolence of this noble creature, though you cannot help but
        also notice the deadly sharp horn shimmering upon its head. This pure
        creature should not be underestimated.
      </p>
      <% } else if (guardian === 'phoenix') { %>
      <p>
        You have barely willed your decision when the mighty phoenix appears
        before you in an eruption of flames, flaring its wings to their
        impressive full extent. The carved panel, detailed though it is, pales
        in comparison to the brilliant beast now alighting in front of you with
        a curious and penetrating gaze. The bird's plumage, more than simply
        catching the light, actually emanates its own, like glowing embers. This
        immortal creature fills you with courage.
      </p>
      <% } else { %>
      <p>
        You have barely willed your decision when the mighty hellhound appears
        before you in a whirlwind of utter darkness, tossing its three heads
        with heart-stopping roars. The etching, detailed though it is, pales in
        comparison to the fearsome beast now turning all six of its eyes to you.
        This titanic hound, infamous for its malice and savegery, is nonetheless
        observing you with surprising tranquility. You pray it remains so.
      </p>
      <% } %>
      <p>
        Your hope is rekindled by the appearance of your new protector, and you
        press on, comforted by its unexpected appearance. The next chamber (is
        there no end to them?) is a simple one, devoid of any furnishing or
        decoration. As before, you face a choice of three items, this time
        implements of war lying at your feet on the bare stone floor. You wonder
        at the game being played with your life and at whoever has placed you in
        these dire straits; you know you are being toyed with, being equipped
        for the terrible test that must lie ahead.
      </p>
      <p>But a weapon's a weapon. You are most drawn to:</p>
      <p>
        <a href="/<%=artifact%>/<%=guardian%>/sword">The Sword</a><br />
        <a href="/<%=artifact%>/<%=guardian%>/bow">The Bow</a><br />
        <a href="/<%=artifact%>/<%=guardian%>/staff">The Staff</a><br />
      </p>
    </div>
    <script>
      window.onload = function () {
        const escapeTimerStart = Date.parse(
          sessionStorage.getItem('escapeTimerStart')
        );
        if (Date.now() - escapeTimerStart > 300000) {
          window.location.href = 'too-long';
        }
      };
    </script>
  </body>
</html>
