* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* max-width: 100vw; */
}

body {
  background-color: black;
  background-image: url('../images/tim-mossholder-yqbDKHzw96c-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
}

h1,
h2,
p {
  text-align: center;
  color: black;
}

h1 {
  font-family: 'DashleyRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
}

h2 {
  font-family: 'DashleyRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
}

p {
  font-family: 'MayaRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

.text-container {
  width: 75%;
  margin: auto;
  padding: 40px;
  text-align: center;
  background-image: url('../images/banner-gf93cbe287_1280.png');
  background-size: 100% 100%;
}

img {
  max-width: 75%;
  max-height: 75vw;
  margin: auto;
  display: block;
}

.img-wide {
  width: 80%;
}

.img-tile-container {
  display: flex;
  flex-direction: row;
  max-width: 90%;
}

.img-tile {
  width: 600px;
  height: 600px;
  margin: 15px;
  border: 10px solid darkgray;
  border-radius: 5px;
}
